.body {
    background: linear-gradient(to bottom right, #0e3648, #000, #000, #431616);
    background-size: cover;
    background-position: center;

    margin: 0;
    padding: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-direction: column;

    height: 100vh;
    overflow: hidden;
}


.containerWaiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;

}

.userList {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    width: 50vw;
    height: 50vh;

    background: rgba(0, 0, 0, 0);

    text-align: center;

    overflow: hidden;
    overflow-y: auto;

    h3 {
        padding: 0px;
        margin: 2vh 0px 2vh 0px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 40px;
        color: #fff;
    }

    .userContainer {

        padding: 1vh 0px 1vh 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;

        overflow-y: auto;

    }

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 2px solid #fff;
    border-radius: 30px;
    width: 20vw;
    min-width: 150px;
    height: 10vh;

    padding: 5px;

    gap: 2vw;

    .btn {
        background: rgba(52, 52, 52, 0.5);
        border: 0px;
        border-radius: 0px;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 30px;
        color: #FFFFFF;

    }

    #Ready {
        border: 2px solid #57ff1a;
        border-radius: 15px;
        width: 156px;
        height: 56px;
        cursor: pointer;
        transition: 1.2s;
    }

    #Ready:hover {
        color: #57ff1a;
        font-size: 35px;

    }

    #Leave {
        border: 2px solid #fb3b22;
        border-radius: 15px;
        width: 86px;
        height: 56px;
        cursor: pointer;
        transition: 1.2s;
    }

    #Leave:hover {
        color: #fb3b22;
        font-size: 35px;

    }

}




.userList::-webkit-scrollbar {
    width: 8px;
}

.userList::-webkit-scrollbar-track {
    background: transparent;
    margin: 15px 0;
}

.userList::-webkit-scrollbar-thumb {
    background: #ff5e5e;
    border-radius: 4px;
}

.userList::-webkit-scrollbar-thumb:hover {
    background: #2ec0ff;
}