:root {
    --font-family: "Monocraft", sans-serif;
    --second-family: "8bitoperator JVEC", sans-serif;
}

.body {
    margin: 0px;
    background: #000;
}

.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 120px;
    background-image: url(../assets/difys_logo_big.png);
}

.header > .element{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0%;
    flex: 0 1 250px;

}

#Name{
    flex-basis: 250px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -0.03em;
    background: linear-gradient(135deg, #ff5e5e 0%, #2ec0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Logo{
    margin-left: 1%;
    margin-right: 1%;
    max-width: 50px;
    height: 50px;
}

.header button{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #fff;
    border: 0px solid #000;
}

#BPlay{
    margin-top: 25px;
    background: #343434;
}

#BLeadersboard{
    margin-top: 25px;
    background: #343434;
    letter-spacing: -0.03em;
}

#BAccount{
    max-width: 180px;
    margin-left: auto;
    background: #343434;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}
#BAccount img{
    width: 25px;
    height: 25px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1 0 100%;
    gap: 23px 10%;
}

.info .general{
    flex-grow: 2;
    height: 130px;
}
.info .siteinfo{
    flex-grow: 1;
    max-width: 780px;
}
.info .pathnotes{
    flex-grow: 1;
    max-width: 480px;
}

.general{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background: #343434;
}

.general .static{
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -0.03em;
    background: linear-gradient(135deg, #ff5e5e 0%, #2ec0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.general div{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    letter-spacing: -0.03em;
    color: #fff;
}

.siteinfo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 520px;
    background: #343434;
    border-radius: 30px 30px 0px 0px;
}

.siteinfo h2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.03em;
    color: #fff;
    height: 58px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.siteinfo .line {
    height: 0px;
    width: 100%;
    border-top: 3px solid #ffffff;
    margin: 0%;
  }

.siteinfo div{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 8px;
}

.siteinfo .info1 {
    color: #ff5e5e;
}
.siteinfo .info2{
    font-weight: 400;
    font-size: 25px;
    letter-spacing: -0.01em;
    color: #fff;
}
.siteinfo .info3{
    font-weight: 400;
    font-size: 30px;
    line-height: 117%;
    color: #fff;
}

.pathnotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px;
    background: #343434;
    border-radius: 30px 30px 0px 0px;
}

.pathnotes h2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.03em;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 0px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 80px;
    background-image: url(../assets/difys_logo_180.png);
}

.footer img{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}